html,body{
    background-color:white;
    /* height:100%; */
}
.header{
    height:75%;
    /* background-image: linear-gradient(black,white); */
}
.navbar_1{
    position: fixed;
    top: 0px;
    background-color:white;
    align-items: center;
    color:#1c1e21;
    display:flex;
    font-size:12px;
    gap:normal;
    justify-content:space-between;
    height: 54px;
    width: 100%;
    z-index: +2;
}
.header_1{
    /* display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-align:center;
    width:10%;
    margin: 0px 16px;
    border-color:#1c1e21;
    color:#1c1e21;
    font-size:12px;
    gap:normal;
    line-height:16.08px;
    margin-right: 100px; */
    font-size: 3vw;
    display: flex;
    align-items: center;
}
.facebookicon{
    margin-right:8px;
    border-color:#385898;
    color:#385898;
    display:flex;
    fill:#000000;
    font-size:20px;
    gap:normal;
    line-height:16.08px;
    font-size:35px;
    color: rgb(53, 127, 196); 
    cursor: pointer;
}
.facebookicon i{
    margin: 0px 5px;
    font-size: 42px;
}
.search{
    display: flex;
    font-size: 50px;
}
.search i{
    opacity: 0.4;
    border-radius: 2vw;
    position: absolute;
    top: -12px;
    left: 50px;
}
.search input:focus{
    outline: none;
}
::-webkit-input-placeholder {
    font-size: 15px;
}
input{
    width: 15.5vw;
    height: 3vw;
    padding: 0 2.5vw;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    margin-left: -0.4vw;
    font-size: 1.1vw;
    border: none;
}
.header_2{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.header_2:hover{
    background-color: #e3e3e6;
    border-radius: 10px;
}
.header_2_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_2_1 i{
    color: black;
    opacity: 0.6; 
    font-size: 1.6vw;
}
.header_3{
    width: 19%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    margin-right: 6px;
}
.header_3_1{
    display: flex;
    width: 6vw;
    height: 2.8vw;
    border-radius: 18px;
    align-items: center;
    cursor: pointer;
    margin: 0.3vw;
    border: solid #f0f2f5;
    outline: none;
    background-color: #e7f3ff;
}
.header_3_1 img{
    height: 25px;
    width: 25px;   
    border-radius: 50%;
    margin-right: 6px;
}
.header_3_1 p{
    float: left;
    font-weight: 600;
    font-size: medium;
    color: #1876f2;
}
.container{
    display: flex;
    background-color: #e4e6eb;
    text-align: center; 
    justify-content: center;
    height: 36px;
    width: 40px;   
    border-radius: 50%;
    align-items: center;
    size: 30px;
    font-size: 1vw;
}
.header_4{
    height: 78%;
    position: relative;
    background-image: linear-gradient(black,rgb(194, 192, 192),rgb(255, 255, 255),white);
}

.header_4_1{
    margin:auto;
    width: 940px;
    height:370px;
    overflow: hidden;
}

.header_4_1 img{ 
    position: absolute;
    top: -40px;
    box-sizing: border-box;
    width: 940px;
    height:517.588px;
    object-fit: cover;
    display: block;
    background-color:white;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;border-radius: 10px;
}
.header_4_2{
    z-index: +1;
    position: relative;
    top: -135px;
    width: 170px;
    height: 170px;
    margin: auto;
    background: #456BD9;
    border: 0.2em solid white;
    border-radius: 50%;
}
.header_4_2 img{
    height: 100%;
    width:100%; 
    border-radius: 50%;
}
.ava div{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: 36px;
    width: 36px;
    background-color:#e4e6eb;
    border-color:#050505;
    border-radius:50%;
    color:#050505;
    display:flex;
    font-size:20px;
    gap:normal;
    justify-content:center;
    line-height:16.08px;
    position: absolute;
    top: 125px;
    left: 125px;
}
.header_4_3{
    background-color: white;
    position: relative;
    top: -150px;
    /* z-index: -1; */
}
.header_4_3_1{
    display: flex;
    align-items:center;
}
.name{
    display: flex;
    justify-content: center;
    border-color:#050505;
    color:#050505;
    font-family:Segoe UI;
}
.biography{
    position: relative;
    top:-20px;
    display: flex;
    justify-content: center;
    font-size: auto;
    border-color:#65676b;
    color:#65676b;
    font-family:Segoe UI;
}
.bioEdit{
    position: relative;
    top:-20px;
    display: flex;
    justify-content: center;
    font-family:Segoe UI;
    font-weight: 500;
    font-size: auto;
}
.bioEdit a{
    color:#1877f2;
    border-bottom: none;
    text-decoration: none;
}
.header_4_4{
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    bottom: 340px;
    left: 1000px;
    width: 180px;
    height: 40px;
    background-color: #eeeef0;
    border-radius: 10px;
}
.imageEdit{
    border-color:#65676b;
    /* color:#65676b; */
    font-family:Segoe UI;
    font-weight:600;
}
.header_4_4:hover{
    background-color: #e3e3e6;
    border-radius: 10px;
}
.header_5{
    display: flex;
    justify-content: center;
    position: relative;
    /* -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
    top: -200px;
    background-color: white;
    height: 60px;
}
.space{
    position: relative;
    top: 15px;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
}
.line{
    position: relative;
    /* -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
    top: -210px;
    width: 59%;
    height: 0.5px;
    background-color: black;
    color: #e7f3ff;
    opacity: 0.2;
    z-index: +1;
}
.navbar_2{
    width: 60%;
    position: relative;
    display: flex;
    justify-content:space-between;
}
.function{
    position: relative;
    display:flex;
    border-top-color: #000000;
    border-top: 5px;
}
.container_1{
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    width:90px; 
    height:54px;
    margin: 0.3vw;
    border: none;
    cursor: pointer;
    outline: none;
}
.add{
    width:120px;
}
.add i{
    margin-left: 5px;
}
.more{
    width:50px; 
    height:40px;
    background-color: #eeeef0;
    border-radius: 7px;
    font-weight: bold;
}
.container_1:hover:not(:focus){
    /* border: 0.2em solid white; */
    background-color: #e3e3e6;
    border-radius: 7px;
}

.container_1:focus{
    background-color: #e7f3ff;
    color: #1876f2;
    outline:none;
    border-bottom: solid #f0f2f5;
    border-bottom-color: #1876f2;
}

.function2{
    position: relative;
    display:flex;
    border-top-color: #000000;
    border-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container_1_story{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0.3vw;
    border: none;
    cursor: pointer;
    outline: none;
    height:36px;
    text-align: center;
    border-radius: 5px;
    width: 134px;
    background-color:#1877f2;
    outline: none;
}
.word{
    border-color:#65676b;
    color:#65676b;
    font-family:Segoe UI;
    font-weight: 600;
    font-size: 15px;
    margin: 4px 0px;
    padding: 14px 8px;
}
.word_story{
    border-color:#65676b;
    font-family:Segoe UI;
    color: white;
    font-weight: 600;
}
.container_1_story:hover{
    background-color:#1d7fff;
}
.pageedit{
    background-color:#eeeef0;;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0.3vw;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
    height:36px;
}
.pageedit:hover{
    background-color: #e3e3e6;
    border-radius: 7px;
}
.chat{
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 20px;
}
.friend{
    width: 50px;
    height: 60px;
}
.friend img{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}

.newtext{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:white;
    border-radius: 50%;
}
.newtext:hover{
    background-color: #e3e3e6;
    border: 0.1em #0F1C3F;
    border-radius: 50%;
}
.rest{
    display: flex;
    width: 500px;
    height: 500px;
    /* background-color:#f0f2f5;  */
}