:root {
  --color-primary: #c70039;
  --color-secondary: #222222;
  --color-tertiary: #ff585f;
  --color-text: #383838;
  --color-accent: #f9f9f9;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --typography-primary-font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  --typography-primary-font-weight: 700;
  --typography-secondary-font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  --typography-secondary-font-weight: 500;
  --typography-text-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --typography-text-font-weight: 300;
  --typography-accent-font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  --typography-accent-font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--typography-primary-font-family);
  font-weight: var(--typography-secondary-font-weight);
  color: #444;
  /* line-height: 1.9; */
  background-color: #ffffff;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

/* GENERAL ELEMENTS */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
  }
  top {
    opacity: 1;
    transform: translateZ(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-iteration-count: 1;
}
.animated {
  animation-duration: 1.5s;
}

.section {
  height: 107vh;
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  padding: 0.7rem 3rem;
  border-radius: 3rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  width: max-content;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn__animation:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border: 2px solid var(--color-primary);
  animation-name: elementor-animation-push;
  animation-duration: 0.5s;
}
@keyframes elementor-animation-push {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
p {
  color: #666;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* NAVIGATION */
.nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9rem;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 8rem;
  transition: all 0.3s;
}

.nav__links {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 4rem;
  border-bottom: 3px solid white;
}

.nav__item:hover:not(:last-child),
.nav__item:focus:not(:last-child) {
  border-bottom: 4px solid var(--color-primary);
}

.nav__link:link,
.nav__link:visited {
  font-family: var(--typography-secondary-font-family);
  font-weight: var(--typography-secondary-font-weight);
  font-size: 1.7rem;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.5rem 3rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: var(--color-accent);
  border: 2px solid var(--color-primary);
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: white;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

/*  */
.elementor-location-footer {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 6em;
}
.elementor-section {
  position: relative;
}
.elementor-widget-heading .elementor-heading-title {
  color: var(--color-primary);
  font-family: var(--typography-primary-font-family), Sans-serif;
  font-weight: var(--typography-primary-font-weight);
}
.elementor-heading-title {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.elementor-179
  .elementor-element.elementor-element-04312be
  > .elementor-background-overlay {
  background-color: var(--color-primary);
  opacity: 0.84;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor .elementor-background-overlay,
.elementor .elementor-background-slideshow {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.elementor-section .elementor-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.elementor-row {
  width: 100%;
  display: flex;
}
.elementor-column.elementor-col-100,
.elementor-column[data-col="100"] {
  width: 100%;
}
.elementor-column,
.elementor-column-wrap {
  position: relative;
  display: flex;
}
.elementor-column-wrap {
  width: 100%;
}
.elementor-179
  .elementor-element.elementor-element-cc28c09.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
  display: flex;
}
.elementor-widget-wrap {
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.elementor-widget:not(:last-child) {
  margin-bottom: 20px;
}
.elementor-widget-wrap > .elementor-element {
  width: 100%;
}
.elementor-widget {
  position: relative;
}
.elementor-element .elementor-widget-container {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
}
h4 {
  color: var(--color-text);
  font-family: var(--typography-text-font-family);
  font-size: 24px;
  font-weight: 700;
}
h2 {
  color: var(--color-secondary);
  font-family: var(--typography-secondary-font-family);
  font-size: 42px;
  font-weight: 700;
}
p {
  margin-top: 0;
  margin-bottom: 0.9rem;
}
.elementor-element-06556ca:not(.elementor-motion-effects-element-type-background),
.elementor-4
  .elementor-element.elementor-element-06556ca
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7edef;
}
.elementor-element-06556ca {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 4em 1em 3em 1em;
}
.elementor-element-215af6c > .elementor-element-populated {
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}
.elementor-element-4a3e2c4 {
  text-align: left;
}
.elementor-element-4a3e2c4 .elementor-heading-title {
  color: var(--color-primary);
  font-family: var(--typography-secondary-font-family), Sans-serif;
  font-weight: var(--typography-secondary-font-weight);
}
.elementor-element-2d2b2a0 {
  text-align: left;
}
.elementor-element-2d2b2a0 .elementor-heading-title {
  color: var(--color-secondary);
}
.elementor-element-0664d14:not(.elementor-motion-effects-element-type-background),
.elementor-4
  .elementor-element.elementor-element-0664d14
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7edef;
}
.elementor-element-0664d14 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0em 1em 4em 1em;
}
.elementor-element-0664d14.elementor-column.elementor-col-50,
.elementor-element-0664d14.elementor-column[data-col="50"] {
  width: 50%;
}
.elementor-element-768637b > .elementor-element-populated {
  margin: 0em 2em 0em 0em;
  padding: 0em 0em 0em 0em;
}
.elementor-element-2b7d5ff {
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0em 0em 0em 0em;
}
.elementor-element-b4150c2 {
  width: 72.581% !important;
}
.elementor-element-6459379 {
  width: 72.581% !important;
}
.elementor-column-gap-default
  > .elementor-row
  > .elementor-column
  > .elementor-element-populated {
  padding: 10px;
}
.elementor-element-49b8bda
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 50%;
}
.elementor-element-49b8bda.elementor-position-left .elementor-image-box-img {
  margin-right: 25px !important;
}
.elementor-element-49b8bda .elementor-image-box-img img {
  filter: brightness(95%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.3s;
}
.elementor-element-49b8bda .elementor-image-box-wrapper img {
  border-radius: 5px;
}
.elementor-widget-image-box .elementor-image-box-content {
  width: 100%;
}
.elementor-element-49b8bda
  .elementor-image-box-content
  .elementor-image-box-title {
  color: var(--color-secondary);
  margin-bottom: 2px;
}
.elementor-widget-image-box
  .elementor-image-box-content
  .elementor-image-box-description {
  color: var(--color-text);
  font-family: var(--typography-text-font-family), Sans-serif;
  font-weight: var(--typography-text-font-weight);
  margin: 0;
  font-size: 1.7rem;
}
.elementor-element-872cdcf {
  width: 27.326% !important;
}
.elementor-element-cb64bc1.elementor-position-left .elementor-image-box-img {
  margin-right: 25px !important;
}
.elementor-element-3ac3175 {
  width: 27.326% !important;
}
.elementor-widget-text-editor {
  font-family: var(--typography-text-font-family), Sans-serif;
  font-weight: var(--typography-text-font-weight);
}
.elementor-element-872cdcf.elementor-element-populated {
  margin: 0em 0em 1em 0em;
  padding: 0em 0em 0em 0em;
}
.elementor-star-rating--align-right .elementor-star-rating__wrapper {
  text-align: right;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.elementor-star-rating__wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.elementor-element-58ebe32 .elementor-star-rating {
  font-size: 18px;
}
.elementor-star-rating {
  color: #ccd6df;
  font-family: eicons;
  display: inline-block;
}
.elementor-star-rating i {
  display: inline-block;
  position: relative;
  font-style: normal;
  cursor: default;
  color: rgb(255, 123, 0);
}
body:not(.rtl).elementor-element-58ebe32
  .elementor-star-rating
  i:not(:last-of-type) {
  margin-right: 6px;
}
.elementor-element-3ac3175 > .elementor-element-populated {
  margin: 0em 0em 1em 0em;
  padding: 0em 0em 0em 0em;
}
.elementor-element-1eeaa93 .elementor-star-rating {
  font-size: 18px;
}
body:not(.rtl).elementor-element-1eeaa93
  .elementor-star-rating
  i:not(:last-of-type) {
  margin-right: 6px;
}
.elementor-179
  .elementor-element.elementor-element-04312be:not(.elementor-motion-effects-element-type-background),
.elementor-179
  .elementor-element.elementor-element-04312be
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://elementor.potopathstudio.com/jcresume/wp-content/uploads/sites/11/2021/02/business-people-discussing-during-a-meeting-with-a-24PQKRZ.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-179 .elementor-element.elementor-element-04312be {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 6em 1em 6em 1em;
}
.elementor-179
  .elementor-element.elementor-element-cc28c09
  > .elementor-element-populated {
  margin: 0em 14em 0em 14em;
  padding: 0em 0em 0em 0em;
}
.elementor-179 .elementor-element.elementor-element-195d1ba {
  text-align: center;
}
.elementor-179
  .elementor-element.elementor-element-195d1ba
  .elementor-heading-title {
  color: #ffffff;
  font-family: var(--typography-secondary-font-family), Sans-serif;
  font-weight: var(--typography-secondary-font-weight);
}
.elementor-179 .elementor-element.elementor-element-6def0b7 {
  text-align: center;
}
.elementor-179
  .elementor-element.elementor-element-6def0b7
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-179 .elementor-element.elementor-element-bce7019 {
  color: #ffffff;
}
.elementor-element.elementor-element-bce7019 p {
  color: #ffffff;
  font-size: 1.9rem;
}
.elementor-179
  .elementor-element.elementor-element-bce7019
  > .elementor-widget-container {
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}
.elementor-179
  .elementor-element.elementor-element-bce7019
  .elementor-text-editor {
  text-align: center;
  color: #ffffff;
}
.elementor-text-editor p {
  font-size: 1.9rem;
}
input:not([type="button"]):not([type="submit"]),
textarea,
.elementor-field-textual {
  font-family: var(--typography-text-font-family), Sans-serif;
  font-weight: var(--typography-text-font-weight);
  color: var(--color-secondary);
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 36px 36px 36px 36px;
}
.elementor-179
  .elementor-element.elementor-element-4117812
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-form-fields-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.elementor-179
  .elementor-element.elementor-element-4117812
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-column.elementor-col-75,
.elementor-column[data-col="75"] {
  width: 75%;
}
.elementor-field-group {
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.elementor-widget-form .elementor-field-group > label {
  font-family: var(--typography-text-font-family), Sans-serif;
  font-weight: var(--typography-text-font-weight);
}
.elementor-widget-form .elementor-field-group > label,
.elementor-widget-form .elementor-field-subgroup label {
  color: var(--color-text);
}
.elementor-field-label {
  cursor: pointer;
}
label {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.elementor-179
  .elementor-element.elementor-element-4117812
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 1px 1px 1px 1px;
  border-radius: 36px 36px 36px 36px;
  outline: none;
}
.elementor-field-group .elementor-field-textual {
  width: 100%;
  max-width: 100%;
  border: 1px solid #818a91;
  background-color: transparent;
  color: #373a3c;
  vertical-align: middle;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  width: 100%;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.elementor-field-textual {
  line-height: 1.4;
  font-size: 15px;
  min-height: 40px;
}
.elementor-field-group.elementor-field-type-submit {
  align-items: flex-end;
}
.elementor-column.elementor-col-25,
.elementor-column[data-col="25"] {
  width: 25%;
}
.elementor-179
  .elementor-element.elementor-element-4117812
  .elementor-button[type="submit"] {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
  border-radius: 35px 35px 35px 35px;
  padding: 0.7em 2em 0.7em 2em;
}
.elementor-179 .elementor-element.elementor-element-4117812 .elementor-button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.elementor-button-align-stretch
  .elementor-field-type-submit:not(.e-form__buttons__wrapper)
  .elementor-button {
  flex-basis: 100%;
}
.elementor-form .elementor-button.elementor-size-sm {
  min-height: 40px;
}
.elementor-widget-form .elementor-button {
  font-family: var(--typography-accent-font-family), Sans-serif;
  font-weight: var(--typography-accent-font-weight);
}
.elementor-form .elementor-button > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.elementor-button span {
  text-decoration: inherit;
}
.elementor-button-icon {
  flex-grow: 0;
  order: 5;
}
.elementor-form .elementor-button .elementor-button-text {
  white-space: normal;
  flex-grow: 0;
}
.elementor-button-text {
  flex-grow: 1;
  order: 10;
  display: inline-block;
}
.elementor-179
  .elementor-element.elementor-element-56bce71:not(.elementor-motion-effects-element-type-background),
.elementor-179
  .elementor-element.elementor-element-56bce71
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://elementor.potopathstudio.com/jcresume/wp-content/uploads/sites/11/2021/02/businesswoman-checking-e-mail-online-on-laptop-P8B8NS5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-179 .elementor-element.elementor-element-56bce71 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 4em 1em 4em 1em;
}
.elementor-179
  .elementor-element.elementor-element-56bce71
  > .elementor-background-overlay {
  background-color: var(--color-secondary);
  opacity: 0.84;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.elementor-179
  .elementor-element.elementor-element-5741799
  .elementor-image
  img {
  max-width: 15%;
}
.elementor-widget-image .elementor-image img {
  vertical-align: middle;
  display: inline-block;
}
.elementor-widget-image {
  text-align: center;
}
.elementor-179 .elementor-element.elementor-element-42e5b88 p {
  color: #ffffff;
}
.elementor-179
  .elementor-element.elementor-element-42e5b88
  .elementor-text-editor {
  text-align: center;
}
.elementor-179 .elementor-element.elementor-element-2f34e87 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 15px;
  --grid-column-gap: 7px;
  --grid-row-gap: 0px;
}
.elementor-179
  .elementor-element.elementor-element-2f34e87
  > .elementor-widget-container {
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}
.elementor-179
  .elementor-element.elementor-element-2f34e87
  .elementor-widget-container {
  text-align: center;
}
.elementor-widget-social-icons.elementor-grid-0 .elementor-widget-container,
.elementor-widget-social-icons.elementor-grid-mobile-0
  .elementor-widget-container,
.elementor-widget-social-icons.elementor-grid-tablet-0
  .elementor-widget-container {
  line-height: 1;
  font-size: 0;
}
.elementor-widget-social-icons .elementor-grid {
  grid-column-gap: var(--grid-column-gap, 5px);
  grid-row-gap: var(--grid-row-gap, 5px);
  grid-template-columns: var(--grid-template-columns);
  -webkit-box-pack: var(--justify-content, center);
  justify-content: var(--justify-content, center);
  justify-items: var(--justify-content, center);
}
.elementor-grid-0 .elementor-grid {
  display: inline-block;
  width: 100%;
  word-spacing: var(--grid-column-gap);
  margin-bottom: calc(-1 * var(--grid-row-gap));
}
.elementor-grid-0 .elementor-grid .elementor-grid-item {
  display: inline-block;
  margin-bottom: var(--grid-row-gap);
  word-break: break-word;
}
.elementor-grid .elementor-grid-item {
  min-width: 0;
}

.elementor-179 .elementor-element.elementor-element-2f34e87 .elementor-icon {
  border-radius: 5px 5px 5px 5px;
}
.elementor-179
  .elementor-element.elementor-element-2f34e87
  .elementor-social-icon {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
}
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
.elementor-social-icon:last-child {
  margin: 0;
}
.elementor-icon.elementor-social-icon {
  font-size: var(--icon-size, 25px);
  line-height: var(--icon-size, 25px);
  width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, 0.5em)));
  height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, 0.5em)));
}
a {
  color: var(--color-accent);
  font-family: var(--typography-accent-font-family), Sans-serif;
  font-weight: var(--typography-accent-font-weight);
}
.elementor a {
  box-shadow: none;
}
.elementor-179 .elementor-element.elementor-element-2f34e87 .elementor-icon {
  border-radius: 5px 5px 5px 5px;
}
.elementor-social-icon {
  display: inline-flex;
  background-color: #818a91;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.elementor-179 .elementor-element.elementor-element-ddb6249 {
  text-align: center;
}
.elementor-179
  .elementor-element.elementor-element-ddb6249
  .elementor-heading-title {
  color: #ffffff;
  font-family: var(--typography-text-font-family), Sans-serif;
  font-weight: var(--typography-text-font-weight);
  font-size: 1.7rem;
}
