.navbar_1{
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.wrap{
    width: 70%;
    background-color:rgb(185, 160, 160);
    display: flex;
}
.header_1{
    width: 13.301%;
}
.header_1_1{
    width: 4.5rem;
    height: 4.5rem;
}
.header_1_1 img{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    
    margin: auto;
    border-radius: 50%;
}
.header_2{
    width: 73.676%;
    display:flex;
    justify-content: flex-end;
}
.header_2_1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.header_2_1_1{
    display:block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.header_3{
    width: 13%;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.header_3 button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}